fastapi
uvicorn
python-dotenv
psycopg2-binary
asyncpg
qdrant-client
langchain
langgraph
pydantic
requests
langchain-community
langchain-qdrant
langchain-google-genai
langchain-text-splitters
pydantic-settings
tiktoken
beautifulsoup4
python-multipart
pymupdf
pymupdf4llm
psycopg[binary]
psycopg_pool
langgraph-checkpoint-postgres
